<div class="container-fluid">
    <div class="head">
        <span class="back" (click)="back()"><</span>
        <span class="text-center">Inventoried</span>
       </div>
     <div class="cont1 row">
       <div class="col-xs-8">
         <span class="sid">123456789456-C</span><br>
         <span class="cord">40 26 46 N 79 58 56 W</span><br>
         <span class="loc">Bangalore, India</span>
       </div>
       <div class="col-xs-4" style="padding-top: 15px">
           <button class="btn-primary" style="font-size: 150%;">Revisit</button>
       </div>
     </div>

       <div class="cont2 row" >
          <div class="col-xs-4">
            <span class="d-head">DATE</span><br>
            <span class="d-body">27 Jan,2017</span>
          </div>
          <div class="col-xs-4">
               <span class="d-head">PHASE</span><br>
               <span class="d-body">3</span>
          </div>
          <div class="col-xs-4">
             <span class="d-head">VOLTAGE</span><br>
             <span class="d-body">Low</span>
          </div>
       </div>
       <div class="remark">
         <div class="r-head">REMARKS</div>
        
         <div class="r-body">
            Whether you are in the market for a distribution auto transformer, step-down generator, or step-up transformer, 
            Power Asset Recovery Corporation is where to turn. We have the
             most complete list of surplus power transformers. 
         </div>
       </div>






       <div class="cont1 row" style="margin-top: 20px;">
          <div class="col-xs-8">
            <span class="sid">123456789456-C</span><br>
            <span class="cord" style="color:green">40 26 46 N 79 58 56 W</span><br>
            <span class="loc">Bangalore, India</span>
          </div>
          <div class="col-xs-4" style="padding-top: 15px">
              <button class="btn-primary" style="font-size: 150%;">Revisit</button>
          </div>
        </div>
   
          <div class="cont2 row" >
             <div class="col-xs-4">
               <span class="d-head">DATE</span><br>
               <span class="d-body">27 Jan,2017</span>
             </div>
             <div class="col-xs-4">
                  <span class="d-head">PHASE</span><br>
                  <span class="d-body">3</span>
             </div>
             <div class="col-xs-4">
                <span class="d-head">VOLTAGE</span><br>
                <span class="d-body">Low</span>
             </div>
          </div>
          <div class="remark">
            <div class="r-head">REMARKS</div>
           
            <div class="r-body">
               <span>Whether you are in the market for a distribution auto transformer, 
                 step-down generator, or step-up transformer, Power Asset Recovery Corporation is where to turn.
                  We have the most complete list of surplus power transformers. </span>
            </div>
          </div>
    
</div>