<div class="container-fluid">
    <div class="head">
        <span class="back" (click)="back()"><</span>
        <span class="text-center">Fleet Maintenance</span>
       </div>
       <div class="head2">
           UPLOAD PICTURE
       </div>
<div>
        <label id="getFileLabel" for="getFile" class="center">
            <img src="../../assets/images/camera.jpg" class="center"><br></label>
        <input #file type="file" id="getFile" (change)="showname(file)"  accept="image/*"/>
  <span class="center icon-span">Tap the above icon to upload photo</span>
</div>
<div class=" re-head">
    <span class="re-span">REMARKS</span>
    <div class="cmt">
        <textarea  rows="4" class="form-control" style="background-color: #F9F9F9;" placeholder="Enter Text Here..."></textarea>
    </div>
</div>
<div class="footer" (click)="upload()">
        <span >Submit</span>
    </div>
</div>
